head
  title Rachel Pigott | Portfolio
  style
    include:stylus ./style.styl
  link( rel='icon', type='image/png', href='images/favicon.ico' )
  meta( name='viewport', content='width=device-width', initial-scale='1.0,user-scalable=no' )