doctype html
html( lang="en" )
  include head
  body
    #container.home-page-body-container
      #home-page-line
      #home-page-h
        h1 Rachel Pigott
      #home-page-left
        a( href='/video' )
          .home-page-bg
          .home-page-txt Video
      #home-page-right
        a( href='/design' )
          .home-page-bg
          .home-page-txt Design