#scripts
  script( src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
  script( src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" )
  include ./ga.html
  script
    include ./imagesloaded.js
    include ./main.js