include mixins

doctype html
html( lang="en" )
  include head
  body.body-init.video-portfolio

    #container

      //- Sticky Header
      #hamburger &#9776;
      #header
        nav
          a#home-icon.nav-active( href='/' ) RP
          a( href='#campari' ) Campari
          a( href='#demo' ) Demo Reel
          a( href='#photo-video' ) Photo / Stills
          a( href='#footer' ) Resume/Contact
          a( href='/design' ) Design Portfolio

      //- Homepage
      #home.home
        #home-header
          mixin logo('video')
        button#home-down-arrow

      //- Campari America
      section#campari
        mixin large-header( 'Campari America', true )
        +video('campari', '72108093', 'Freelance Creative Director and Editor. Video created for Campari America to promote Campari’s major brands: SKYY Vodka, Wild Turkey Bourbon, etc..')
      
      //- Demo Reel
      section#demo
        mixin large-header( 'Demo Reel', true )
        +video('reel', '72108093', ' Compilation of 35mm film, 16mm film, and HD video projects.')

      //- Photo/Video
      section#photo-video
        mixin large-header( "Photo / Stills", false )
        .white-bg
          ul.pv-two-column
            for n, i in new Array(20)
              li( style="background-image: url(pv/#{i + 1}.jpg)" )
                img( src='pv/#{i + 1}.jpg' )


      //- Modal window
      section#modal-container
        #modal-close
        #modal
          img( src='images/jtav/1.png' )

      //- Footer
      section#footer-container
        #footer
          button#home-up-arrow
          a#download-resume( href='resume.pdf', _target='blank' ) Download Resume
          #contact-box
            .contact-box-left
              | L
              br
              | T
              br
              | E
            .contact-box-right
              | New York, NY
              br
              | 801 870 5285
              br
              a( href='mailto:racheltpigott@gmail.com' ) racheltpigott@gmail.com
            ul.contact-box-social-media
              li.twitter
              li.facebook
              li.instagram
          mixin logo

    include scripts